<h2>Sign Up</h2>

<div>
  <%= form_for @user do |f| %>
    <%= f.text_field :name, class: "form_field", placeholder: "Username"  %><br/>
    <%= f.email_field :email, class: "form_field", placeholder: "Email"  %><br/>
    <%= f.submit "Create", class: "button" %>
  <% end %>
