/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  font-family: Arial, Verdana, sans-serif;
  color: #010c26;
  background-color: #fcfeff;
}

 ul.nav {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #d4e8fa;
 }

 li.nav {
   float: left;
 }

 li.nav a {
   display: block;
   color: #04287a;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
 }

 li.nav a:hover {
   background-color: #fcfeff;
 }

#nav  {
   display: block;
   color: #04287a;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
 }

 #nav a {
   color: #04287a;
 }

 #main {
   margin: 14px;
 }

 .form_field {
   padding: 8px 3px;
   margin: 8px 0;
   border: 1px solid #ccc;
   border-radius: 4px;
 }

 .button {
   background-color: #d4e8fa;
   border: 1px solid;
   border-radius: 2px;
   margin-top: 8px;
 }

 .button:hover {
   background-color: #fcfeff;
 }
